.cover__overlay {
    /* background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg); */
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 740px;
    text-decoration: none;
    width: 100%;
}

.cover__overlay::before {
    background-color: rgba(42, 44, 47, .3);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .2s ease-in;
    width: 100%;
    z-index: 2;
}

.cover__overlay:hover::before {
    background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 200px;
    }
}