.place__website-url {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 767px) {
  .place__website-url {
      padding: 0 16px;
  }
}
